body .page-content{
    width: 500px;
    padding: 1.5rem;
    border-width: 0.2rem;
    border: solid #f8f9fa;
    margin: 150px auto;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.h1_home{
    margin: 30px 0 0 0;
    text-align: center;
}


@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
