{% extends 'base/base.html' %}
{% load static %}


{% block content %}

<h1 class="h1_home">{{ h1 }}</h1>


<div class="page-content">

    <form method="post" action="api/v1/get_data_product/" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ form.file }}
            {{ form.file.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.article.id_for_label }}">{{ form.article.label }}</label>
            {{ form.article }}
            {{ form.article.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>


{% endblock %}